html, body {
    font-family: 'Open Sans';
    color: #000;
    
}

body {
    margin: 0;
    background-color: #fbf8f5;
}

h2 {
    margin-bottom: 0px;
    margin-top: 30px;
    font-size: 20px;
    letter-spacing: 1px;
}

hr {
    border-top: 1px dashed #000;
    margin-bottom: 40px;
}

details {
    margin-bottom: 40px;
}

a, a:visited {
    color: #000;
}

a:hover {
    color: #8e7b36;
}


details summary {
    list-style: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

details summary img {
    margin-right: 10px;
}

details summary:hover {
    color: #8e7b36;
}

.top, .bottom {
    width: 100%;
}

.top {
    text-align: right;
}

.bottom {
    text-align: left;
}

.bottom img {
    display: block;
}

.top img {
    margin-left: auto;
    display: block;
}

.container {
    max-width: 600px;
    padding: 20px;
    z-index: 1;
    margin: 0 auto;
}

.logo-box {
    width: 600px;
}

.logo {
    display: block;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.place {
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 18px;
}

.place a,
.place a:visited,
.place a:active {
    color: #000;
} 
.place a:hover {
    color: #8e7b36;
}

.place .material-icons {
    font-size: 24px;
    vertical-align: -2px;
}

.message-box {
    font-size: 16px;
    margin-top: 80px;
}

.message-box .lang {
    border: solid 1px #000;
    padding: 20px;
    background-color: #fdfbfa;
    margin-bottom: 80px;
}

.message-box p {
    text-align: justify;
}

.flag {
    width: 36px;
    height: 36px;
    display: block;
    margin: 0 auto 10px auto;
    border-radius: 36px;
    box-shadow: 0 2px 6px 0 rgba(32,76,136,0.5);
}

.flag.dragon {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto 10px auto;
    border-radius: 36px;
    box-shadow: 0 2px 6px 0 rgba(32,76,136,0.5);
}

.rsvp {
    text-align: center;
    margin-top: 80px;
    font-size: 12px;
    border: solid 1px #000;
    padding: 15px;
}

.rsvp a,
.rsvp a:visited,
.rsvp a:active {
    color: #000;
}

.rsvp a:hover {
    color: #8e7b36;
}

@media only screen and (max-width: 600px) {
    .logo {
        width: 75%;
        margin-bottom: 40px;
    }
    .logo-box {
        width: 100%;
    }

    .container {
        width: calc(100% - 40px);
    }

    .place {
        font-size: 12px;
        line-height: 16px;
    }

    .place .material-icons {
        font-size: 12px;
        line-height: 16px;
    }

    .message-box {
        margin-top: 40px;
        font-size: 16px;
    }

    .top img {
        max-width: 90%;
    }

    .bottom img {
        max-width: 50%;
    }
  }
